.dashboard-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-x: hidden;
}
.MuiBox-root {
  border-radius: 20px;
  direction: rtl;
  width: 98% !important;
  height: 96% !important;
  margin-top: 2%;
}
.MuiToolbar-root {
  direction: ltr;
}
.MuiListSubheader-root {
  position: inherit !important;
}
.profile-img-preview {
  border: 1px dashed rgb(177, 177, 177);
  max-width: 200px;
  min-height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  direction: rtl;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}
.MuiDialog-paper {
  width: 600px;
}
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root, .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
  left: inherit !important;
  right: 1.75rem !important;
  transform-origin: right !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  transform: translate(16px, 16px) scale(1);
  left: inherit !important;
  right: 38px !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon, .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  left: 7px !important;
  right: inherit !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  direction: rtl !important;
}
.dropzone-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px dashed rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.6);
    padding: 5%;
}
.sidemenu-container {
  padding-right: 2%;
  position: fixed;
  right: 0;
  top: 100px;
}
.profile-chip-container {
  position: absolute;
  top: 35px;
  right: 2%;
  z-index: 3;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 96%;
}
.css-10kp3pj-MuiButtonBase-root-MuiChip-root .MuiChip-avatar {
  margin-right: 3px !important;
  margin-left: -6px !important;
}
.MuiDataGrid-root {
  height: 92% !important;
}
.main {
  padding: 0% 1% 0% 2%;
}
.tab-title {
  text-align: center;
}
.css-r11z79-MuiDataGrid-root {
  height: 90% !important;
}

.main > .main-container {
  width: 100%;
  background-color: rgb(213, 233, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  padding-left: 2%;
  padding-bottom: 2%;
  height: 90%;
}
.main-section {
  min-height: 100vh;
}

.main-title {
  text-align: left;
  margin: 1% 2%;
}
.dashboard-container a {
  text-decoration: none;
}

.css-tlelie-MuiListItemText-root {
  text-align: start !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root,
.css-i7rae6-MuiList-root {
  direction: rtl;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  border-radius: 8px !important;
}

.MuiListItemButton-root {
  flex-direction: row-reverse !important;
}

.MuiListItemIcon-root {
  display: block !important;
}

.MuiListSubheader-root, .MuiTypography-root {
  text-align: right !important;
}


.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.MuiFormControl-root {
  overflow: visible !important;
}

.sidemenu-container .business-logo {
  width: 60px;
  margin: 2%;
}

.sidemenu-container .business-link-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.sidemenu-container .links {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
