@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
.App {
  text-align: center;
  font-family: 'Assistant', 'Roboto', sans-serif;
  direction: rtl;
}

#root {
  height: 100%;
  --fc-border-color: #a6adb4;
  --fc-today-bg-color: #dbecff;
}

.MuiPaper-root {
  border-radius: 20px !important;
}

.fc .fc-scrollgrid {
  border-collapse: collapse !important;
}